*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
}

    /* PADRÕES */

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.clear{
    clear: both;
}

    /* HEADER DO MEU SITE */

header{
    background-image: url('../img/bg.jpg');
    min-height: 450px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
}
.logo{
    background-image: url('../img/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 132px;
    height: 20px;
    position: relative;
    z-index: 2;
}
nav.desktop{
    float: right;
}
nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    display: inline-block;
    margin: 0 15px;
}
nav.desktop a{
    color: white;
    text-decoration: none;
}
nav li.btn-nav{
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 20px;
}
nav.mobile{
    display: none;
    float: right;
}
nav.mobile ul{
    background-color: #31475e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 70px 0 30px 20px;
    display: none;
    text-align: left;
    border-bottom: 3px solid #ff5f27;
    list-style-type: none;
}
nav.mobile h3{
    position: relative;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-size: 26px;
}
nav.mobile li{
    padding: 10px 0;
}
nav.mobile li.btn-nav{
    display: inline-block;
    padding: 4px 10px;
}
nav.mobile li a{
    display: block;
    color: white;
    text-decoration: none;
}

    /* CHAMADA HEADER */

.chamada-header{
    padding: 110px 0;
}
.chamada-header h2{
    font-size: 47px;
    color: white;
    font-weight: normal;
}
.chamada-header p{
    font-size: 17px;
    max-width: 600px;
    color: white;
    margin-top: 10px;
}
.chamada-header form{
    margin-top: 10px;
}
.chamada-header input[type=email]{
    display: inline-block;
    border-radius: 100px;
    background-color: white;
    width: 237px;
    height: 43px;
    border: 0;
    outline: 0;
    padding-left: 10px;
}
.chamada-header input[type=submit]{
    width: 181px;
    height: 43px;
    border-radius: 100px;
    background-color: #ff5f27;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: white;
}

    /* DESCRIÇÃO */

section.descricao-danki{
    text-align: center;
    padding: 30px 0;
}
section.descricao-danki p{
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
    display: inline-block;
    max-width: 680px;
}

    /* MEDIA QUERIES */

@media screen and (max-width: 1024px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    .chamada-header{
        text-align: center;
    }
    .chamada-header p{
        display: inline-block;
    }
    .chamada-header input[type=email]{
        margin-bottom: 10px;
    }
}